<div id="ractangle-card">
    <div id="card-img-summary">
        <img src="../../../assets/gu-logo.jpg" id="gu-logo" />
        <h3>
            Computer Sciencess
        </h3>
        <p>
            2nd Semester
        </p>
    </div>
    <div id="card-summary">
        <div>
            <h2>
                Computer Science Subject
            </h2>
            <p>
                2nd Semester
            </p>
            <p>
                Year: 2020
            </p>
            <p>
                Branch: AI
            </p>
            <p>
                Course: B.Tech.
            </p>
        </div>
       
       <button id="viewBtn">
        View
       </button>
    </div>
</div>