<section id="heading">
  <div id="heading-view">
    <img id="headder-img" src="../../../../assets/headder-img-students.jpg" />
  </div>
  <div id="heading-description">
    <h1>Unlock Your Academic Potential and Web Development Journey</h1>
    <button id="signIn">Sign In</button>
  </div>
</section>
<section id="features">
  <div>
    <div>
        <div id="past-year-paper">Past Year Papers</div>
        <div>
            <h3>Find All Past Year Papers</h3>
            <p>Explore past year papers for Gurugram University from all branches</p>
        </div>
    </div>
   
    <div>
        <div id="notes">Notes</div>
        <div>
            <h3>Explore Study Notes</h3>
            <p>Discover a wide range of study notes to help you excel in your courses</p>
        </div>
    </div>
    <div>
        <div id="web-dev">Web Development Journey</div>
        <div>
            <h3>Start Your Web Development Journey</h3>
            <p>Explore the path to becoming a web developer and unleash your coding potential</p>
        </div>
    </div>
    
  </div>
</section>
<section id="contribution">
  <div>
    <h2>Contribute Your Knowledge: Share Past Year Papers and Notes</h2>
    <p>
      At GU Students Website, we believe in the power of collaboration and
      knowledge-sharing. If you have past year papers, comprehensive notes, or
      valuable insights that can help your fellow students succeed academically,
      we invite you to be a part of our community. Your contributions can make a
      significant difference in someone else's educational journey.
    </p>
    <div>
        <img src="../../../../assets/login.jpg" width="100px"/>
        <div>
            <h4>
                Sign In
            </h4>
            <p>
                Please sign in or create an account to contribute your knowledge.
            </p>
        </div>
    </div>
    <div>
        <img src="../../../../assets/button_click.jpg" width="100px"/>
        <div>
            <h4>
                Click "Help Fellow Students"
            </h4>
            <p>
                After signing in, click the "Help Fellow Students" section to share your knowledge.
            </p>
        </div>
    </div>
    <div>
        <img src="../../../../assets/submitted-successfully.jpg" width="100px"/>
        <div>
            <h4>
                Fill the Contribution Form
            </h4>
            <p>
                Click the "Contribute" button below to submit the form
            </p>
        </div>
    </div>
    
  </div>
</section>
